piecesofapie
randmaxvalue
datatypestest
equalmistake
evenorodd
evenorodd2
evenorodd3
manyconditionswithifelse
manyconditionswithswitch
precision
randmaxvalue
whileexample
dowhileexample
forexample
gotoexample
gotoharmfulexample
vendor/
.phpunit.cache/
log.txt
