vendor/
.phpunit.cache/
.phpdoc/
*.bkp
authors.txt
books.txt
authors.csv
books.csv
authors.json
books.json
authors.test.txt
books.test.txt
authors.test.csv
books.test.csv
authors.test.json
books.test.json
phpDocumentor.phar
phpmd.phar
